header {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 99999;
}

div.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 20px;
  align-items: center;

  ul {
    display: flex;

    li {
      margin: 0 20px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        padding: 10px;
        outline: none;

        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
}

.active {
  border-bottom: 2px solid white;
}
