footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 1.4em;
  border-top: #aaa 1px solid;
  border-bottom: #aaa 1px solid;
  color: rgb(6, 193, 250);
  background-color: rgb(12, 12, 12);
}
